a:link {
    color: dodgerblue;
}
a:visited {
    color: darkviolet;
}
a:active {
    color: deeppink;
}
:root {
    --background: transparent;
    --foreground: contrast(var(--background))
}
[data-theme='light'] {
    --background: lightgreen;
    --foreground: blue;
}
[data-theme='dark'] {
    --background: #114;
    --foreground: #514;
}
