html, body {
    background-color: lightblue;
    color: red;
}
@media (prefers-color-scheme: light) {
    html, body {
        background-color: lightgreen;
        color: magenta;
    }
}
@media (prefers-color-scheme: dark) {
    html, body {
        background-color: lightpink;
        color: blue;
    }
}
