html, body, div {
    color: contrast(background-color);
}
@media (prefers-color-scheme: light) {
    main {
        color: black;
    }
}
@media (prefers-color-scheme: dark) {
    main {
        color: #aaa;
    }
}
